:root {
  --brand-color: #ae1332;
  --color-text: #ffffff;
  --color-hover: #a4cb66;
}
/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: currentColor;
	text-decoration: none;
}

button {
	cursor: pointer;
	font-family: inherit;
	color: currentColor;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}


.container {
  width: 1280px;
  height: 5469px;
  padding: 0 15px;
  margin: 0 auto;
  outline: 2px solid green;
}
.hero-section {
	background-color: var(--brand-color);
}
.hero-container {
	position: relative;
	background-image: url("/img/hero/strawberry_mob@1x.webp"), url("/img/hero/banana_mob@1x.webp");
	background-size: 56px, 66px;
	background-position: top 56px right 20px, top 116px left 13px;
	background-repeat: no-repeat;
}
@media only screen and (min-width: 375px) {
	@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
		.hero-container {
			background-image: url("/img/hero/strawberry_mob@2x.webp"), url("/img/hero/banana_mob@2x.webp");
		}
	}
}

@media only screen and (min-width: 768px) {
	.hero-container {
		background-image: url("/img/hero/strawberry_tab@1x.webp"), url("/img/hero/banana_tab@1x.webp");
		background-size: 108px, 132px;
		background-position: top 55px right 37px, top 169px left 66px;
	}
	@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
		.hero-container {
			background-image: url("/img/hero/strawberry_tab@2x.webp"), url("/img/hero/banana_tab@2x.webp");
		}
	}
}
@media only screen and (min-width: 1280px) {
	.hero-container {
		background-image: url("/img/hero/strawberry_desk@1x.webp"), url("/img/hero/banana_desk@1x.webp");
		background-size: 120px, 183px;
		background-position: top 39px right 223px, top 191px left 213px;
	}
	@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
		.hero-container {
			background-image: url("/img/hero/strawberry_desk@2x.webp"), url("/img/hero/banana_desk@2x.webp");
		}
	}
}
.hero-title {
	padding-top: 56px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 2;

	font-weight: 500;
	font-size: 28px;
	line-height: 1;
	color: var(--color-text);
	text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
	text-align: center;
	letter-spacing: -0.04em;
	text-transform: uppercase;
}
.hero-title-wrap {
	display: block;
}
@media only screen and (max-width: 767px) {
	.hero-title {
		max-width: 335px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
	.hero-title {
		padding-top: 64px;
		font-size: 50px;
		line-height: 1.08;
		max-width: 704px;
	}
}

@media only screen and (min-width: 1280px) {
	.hero-title {
		max-width: 872px;
		font-size: 64px;
		line-height: 1;
	}
}


.gradiend-border {
	position: relative;
	z-index: 1;
	top: -65px;
	background: transparent;
	padding: 0.5rem 1rem;
	background-image: linear-gradient(90deg, var(--brand-color), var(--brand-color)),
		linear-gradient(359.94deg, #ffffff -1.7%, rgba(255, 255, 255, 0.441769) 30.64%, rgba(255, 255, 255, 0) 76.92%);
	background-clip: padding-box, border-box;
	background-origin: border-box;
	border: 1px solid transparent;
	border-radius: 500px;
	margin-bottom: -44px;
}
@media only screen and (max-width: 369px) {
	.gradiend-border {
		height: 134vw;
	}
}
@media only screen and (min-width: 370px) and (max-width: 767px) {
	.gradiend-border {
		max-width: 335px;
		max-height: 509px;
	}
}
@media only screen and (min-width: 768px) {
	.gradiend-border {
		max-width: 486px;
		padding: 20px 17px;
		margin-top: -45px;
		margin-left: 133px;
	}
}
@media only screen and (min-width: 1280px) {
	.gradiend-border {
		margin-left: 397px;
	}
}
.img-card {
	max-width: 311px;
	background: var(--color-text);
	border-radius: 500px;
}
@media only screen and (min-width: 768px) {
	.img-card {
		max-width: 452px;
		max-height: 702px;
	}
}
.btn-hero {
	position: absolute;
	padding: 18px 15px;
	max-width: 80px;
	max-height: 80px;
	font-weight: 500;
	font-size: 20px;
	line-height: 1;
	letter-spacing: -0.04em;
	color: var(--brand-color);
	text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
	transform: rotate(-14deg) translate(-50%);
	border-radius: 50%;
	background-color: var(--color-text);
	border: none;
	z-index: 10;
	bottom: -18px;
	left: 50%;
}
@media only screen and (min-width: 768px) {
	.btn-hero {
		max-width: 114px;
		max-height: 114px;
		padding: 28px 23px;
		font-weight: 500;
		font-size: 28px;
	}
}
.btn-hero:hover,
.btn-hero:focus {
	color: var(--color-hover);
}
.hero-desc {
	font-size: 14px;
	line-height: 1.29;
	letter-spacing: -0.04em;
	color: var(--color-text);
	text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
	max-width: 279px;
	margin: 0 auto 44px;
}
@media only screen and (min-width: 768px) {
	.hero-desc {
		margin-top: -13px;
		margin-left: 32px;
	}
}
@media only screen and (min-width: 1280px) {
	.hero-desc {
		max-width: 222px;
		margin-top: -516px;
		margin-left: 54px;
	}
}
.watermelon {
	width: 249px;
	height: 387px;
	left: 63px;
	top: 868px;
	background: #a4cb66;
	border-radius: 500px;
	margin-left: auto;
	margin-right: auto;
}
@media only screen and (min-width: 768px) {
	.watermelon {
		margin-left: 64px;
	}
}
@media only screen and (min-width: 1280px) {
	.watermelon {
		margin-left: 44px;
	}
}
.hero-second {
	font-weight: 400;
	font-size: 12px;
	line-height: 1.17;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	letter-spacing: -0.04em;
	color: var(--color-text);
	text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
	padding-top: 28px;
}
.img-water {
	width: 239px;
	margin-left: 5px;
	padding-top: 51px;
}
.hero-text {
	max-width: 155px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-weight: 500;
	font-size: 12px;
	line-height: 1.17;
	display: flex;
	letter-spacing: -0.04em;
	text-transform: uppercase;
	color: var(--color-text);
	text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}
.hero-element-list {
	max-width: 265px;
	max-height: 84px;
	margin: 24px 32px;
}
@media only screen and (min-width: 768px) {
	.hero-element-list {
		gap: 12px 8px;
	}
	.hero-element-list:nth-child(3d){
		margin-right: 15px;
	}
}

@media only screen and (min-width: 1280px) {
	.hero-element-list {
		margin-left: 918px;
	}
}
.hero-element {
	width: 125px;
	display: inline-block;
	padding: 12px 32px;
	border: 1px solid #ffffff;
	border-radius: 1000px;
	margin-right: 5px;
	margin-bottom: 8px;
}

.hero-title-three {
	width: 61px;
	height: 14px;

	font-weight: 500;
	font-size: 12px;
	line-height: 1.17;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: -0.04em;
	text-transform: uppercase;
	color: #ffffff;
	text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
	flex: none;
	order: 0;
	flex-grow: 0;
}
.basketstr {
	margin-left: auto;
	margin-right: auto;
	width: 249px;
	height: 387px;
	background: #f5ce13;
	border-radius: 500px;
}
@media only screen and (min-width: 768px) {
	.basketstr {
		margin-top: -524px;
		margin-right: 64px;
	}
}
@media only screen and (min-width: 1280px) {
	.basketstr {
		margin-right: 30px;
	}
}
.img-basketstr {
	padding-top: 24px;
}
