<section class="contacts-sections" id="contacts">
	<div class="contacts-container container">
		<div class="contacts-wrapper">
			<h2 class="contacts-title">Fresh Harvest Box has got you covered</h2>
			<ul class="contacts-img-list">
				<li class="contacts-img-item">
					<picture>
						<source media="(min-width: 1280px)"
							srcset="/img/contacts/melon_desk@1x.webp 1x, /img/contacts/melon_desk@2x.webp 2x"
							type="image/webp" />
						<source media="(min-width: 1280px)"
							srcset="/img/contacts/melon_desk@1x.jpg 1x, /img/contacts/melon_desk@2x.jpg 2x"
							type="image/jpg" />
						<source media="(min-width: 768px)"
							srcset="/img/contacts/melon_tablet@1x.webp 1x, /img/contacts/melon_tablet@2x.webp 2x"
							type="image/webp" />
						<source media="(min-width: 768px)"
							srcset="/img/contacts/melon_tablet@1x.jpg 1x, /img/contacts/melon_tablet@2x.jpg 2x"
							type="image/jpg" />
						<source media="(max-width: 767px)"
							srcset="/img/contacts/melon_mobile@1x.webp 1x, /img/contacts/melon_mobile@2x.webp 2x"
							type="image/webp" />
						<source media="(max-width: 767px)"
							srcset="/img/contacts/melon_mobile@1x.jpg 1x, /img/contacts/melon_mobile@2x.jpg 2x"
							type="image/jpg" />
						<img class="card-img" src="/img/contacts/melon_desk@1x.jpg"
							alt="melon" width="792" height="502" loading="lazy" />
					</picture>
				</li>
				<li class="contacts-img-item">
					<picture>
						<source media="(min-width: 1280px)"
							srcset="/img/contacts/blueberry_desk@1x.webp 1x, /img/contacts/blueberry_desk@2x.webp 2x"
							type="image/webp" />
						<source media="(min-width: 1280px)"
							srcset="/img/contacts/blueberry_desk@1x.jpg 1x, /img/contacts/blueberry_desk@2x.jpg 2x"
							type="image/jpg" />
						<source media="(min-width: 768px)"
							srcset="/img/contacts/blueberry_tablet@1x.webp 1x, /img/contacts/blueberry_tablet@2x.webp 2x"
							type="image/webp" />
						<source media="(min-width: 768px)"
							srcset="/img/contacts/blueberry_tablet@1x.jpg 1x, /img/contacts/blueberry_tablet@2x.jpg 2x"
							type="image/jpg" />
						<img class="contacts-img2" src="/img/contacts/blueberry_desk@1x.jpg"
							alt="blueberry" width="400" height="502" loading="lazy" />
					</picture>
				</li>
			</ul>
		</div>
		<div class="contacts-description">
			<p class="contacts-text">Our boxes are packed with delicious, nutritious
				fruits and vegetables, perfect for anyone looking to eat healthier or
				support local farmers. Order your box today and start enjoying the best
				that nature has to offer!</p>
			<form class="contacts-form" name="contacts-form">
				<label class="contacts-field">
					<input class="contacts-input" type="email" name="email"
						placeholder="Enter email..." required>
					<button class="contacts-btn js-open-modal" data-modal="2"
						type="button">Send</button>
				</label>
			</form>
		</div>
	</div>
</section>