<section class="fruits" id="fruits">
	<div class="container">
		<h2 class="fruits-begin">organic fruits</h2>
		<p class="fruits-about">
			Our organic fruits are hand-picked from local farms and delivered straight
			to your doorstep, ensuring that you get the freshest and most nutritious
			produce possible. We offer a wide selection of organic fruits grown
			without the use of harmful pesticides or chemicals.
		</p>
		<ul class="fruits-list">
			<li class="fruits-card">
				<div class="fruits-wrap">
					<h3 class="fruits-name">Strawberry</h3>
					<p class="fruits-text">Plant</p>
				</div>
				<img srcset="/img/fruits/str@1x.webp 1x, /img/fruits/str@2x.webp 2x"
					src="/img/fruits/str@1x.webp" alt="Strawberry" width="295"
					height="275" class="fruits-img-gallery" />
				<p class="fruits-cost text-cost">100 UAH / kg</p>
			</li>

			<li class="fruits-card banana">
				<div class="fruits-wrap">
					<h3 class="fruits-name">Banana</h3>
					<p class="fruits-text">Plant</p>
				</div>
				<img srcset="/img/fruits/ban@1x.webp 1x, /img/fruits/ban@2x.webp 2x"
					src="/img/fruits/ban@1x.webp" alt="Banana" width="295" height="266"
					class="fruits-img-gallery" />
				<p class="fruits-cost text-cost">80 UAH / kg</p>
			</li>

			<li class="fruits-card Watermelon">
				<div class="fruits-wrap">
					<h3 class="fruits-name">Watermelon</h3>
					<p class="fruits-text">Plant</p>
				</div>
				<img srcset="/img/fruits/wat@1x.webp 1x, /img/fruits/wat@2x.webp 2x"
					src="/img/fruits/wat@1x.webp" alt="Watermelon" width="295"
					height="276" class="fruits-img-gallery" />
				<p class="fruits-cost text-cost">40 UAH / kg</p>
			</li>
			<li class="fruits-card Lime">
				<div class="fruits-wrap">
					<h3 class="fruits-name">Lime</h3>
					<p class="fruits-text">Plant</p>
				</div>
				<img srcset="/img/fruits/lime@1x.webp 1x, /img/fruits/lime@2x.webp 2x"
					src="/img/fruits/lime@1x.webp" alt="Lime" width="295" height="276"
					class="fruits-img-gallery" />
				<p class="fruits-cost text-cost">60 UAH / kg</p>
			</li>

			<li class="fruits-card Apple">
				<div class="fruits-wrap">
					<h3 class="fruits-name">Apple</h3>
					<p class="fruits-text">Plant</p>
				</div>
				<img srcset="/img/fruits/apple@1x.webp 1x, /img/fruits/apple@2x.webp 2x"
					src="/img/fruits/apple@1x.webp" alt="Apple" width="295" height="276"
					class="fruits-img-gallery" />
				<p class="fruits-cost text-cost">50 UAH / kg</p>
			</li>
			<li class="fruits-card Peach">
				<div class="fruits-wrap">
					<h3 class="fruits-name">Peach</h3>
					<p class="fruits-text">Plant</p>
				</div>
				<img srcset="/img/fruits/peach@1x.webp 1x, /img/fruits/peach@2x.webp 2x"
					src="/img/fruits/peach@1x.webp" alt="Peach" width="295" height="276"
					class="fruits-img-gallery" />
				<p class="fruits-cost text-cost">80 UAH / kg</p>
			</li>
			<li class="fruits-card Plums">
				<div class="fruits-wrap">
					<h3 class="fruits-name">Plums</h3>
					<p class="fruits-text">Plant</p>
				</div>
				<img srcset="/img/fruits/plum@1x.webp 1x, /img/fruits/plum@2x.webp 2x"
					src="/img/fruits/plum@1x.webp" alt="Plums" width="295" height="276"
					class="fruits-img-gallery" />
				<p class="fruits-cost text-cost">40 UAH / kg</p>
			</li>
			<li class="fruits-card Orange">
				<div class="fruits-wrap">
					<h3 class="fruits-name">Orange</h3>
					<p class="fruits-text">Plant</p>
				</div>
				<img
					srcset="/img/fruits/orange@1x.webp 1x, /img/fruits/orange@2x.webp 2x"
					src="/img/fruits/orange@1x.webp" alt="Orange" width="295" height="276"
					class="fruits-img-gallery" />
				<p class="fruits-cost text-cost">60 UAH / kg</p>
			</li>
			<li class="fruits-card Kiwi">
				<div class="fruits-wrap">
					<h3 class="fruits-name">Kiwi</h3>
					<p class="fruits-text">Plant</p>
				</div>
				<img srcset="/img/fruits/kiwi@1x.webp 1x, /img/fruits/kiwi@2x.webp 2x"
					src="/img/fruits/kiwi@1x.webp" alt="Kiwi" width="295" height="276"
					class="fruits-img-gallery" />
				<p class="fruits-cost text-cost">90 UAH / kg</p>
			</li>
		</ul>
		<div class="button-fruit">
			<button type="button" class="modal-but js-open-modal" data-modal="1">
				<svg class="arrow-svg" width="14" height="14">
					<use href="/img/icon.svg#arrow"></use>
				</svg>
				<p class="text-but">order</p>
			</button>
		</div>
	</div>
</section>