<section class="how-it-works-section section" id="how-it-works">
	<div class="how-it-works-container container">
		<div class="order-fruit-container">
			<h2 class="order-fruit-title">
				To order your fruit basket, simply follow these easy steps
			</h2>
			<p class="order-fruit-text">
				Our baskets are assembled with care and delivered straight to your
				doorstep, so you can enjoy the taste of fresh fruit without ever leaving
				your home. Whether you're looking for a healthy snack or a thoughtful
				gift, our fruit baskets are the perfect choice.
			</p>
		</div>
		<ul class="steps-order-list">
			<li class="steps-order-item steps-order-color">

				<p class="first-step steps">First Step</p>
				<p class="step-text">
					Just choose the fruit you want to order by clicking on the
					checkboxes next to it.
				</p>

			</li>
			<li class="steps-order-item steps-order-color">

				<p class="second-step steps">Second Step</p>
				<p class="step-text">Click on the basket and flil out the form.</p>

			</li>
			<li class="steps-order-item steps-order-color">
				<p class="third-step steps">Third Step</p>
				<p class="step-text">
					Sit back and relax! Your fresh fruit basket wlil be delivered.
				</p>
			</li>
		</ul>
		<div class="gif-box container">
			<img class="gif" srcset="
          /img/how-it-works/freshbox_mob.gif  335w,
          /img/how-it-works/freshbox_tab.gif  704w,
          /img/how-it-works/freshbox_desc.gif 860w
        "
				sizes="(min-width: 1280px) 860px,(min-width: 768px) 704px, (min-width: 428px) 335px, 100vw"
				src="/images/how-it-works/fuits_gif_desc.gif" alt="Fruits" width="860"
				height="476" loading="lazy" />
		</div>
	</div>
</section>