<div class="mw-thank-you modal" data-modal="2">
	<button class="mw-thank-you-btn js-modal-close" type="button">
		<svg class="mw-thank-you-btn-icon" width="14" height="14">
			<use href="/img/icon.svg#close"></use>
		</svg>
	</button>
	<div class="mw-thank-you-content">
		<img class="mw-thank-you-img " srcset="
	                /img/mw-thank-you/raspberry_207.webp 207w,
	                /img/mw-thank-you/raspberry_278.webp 207w,
	                /img/mw-thank-you/raspberry_414.webp 207w,
	                /img/mw-thank-you/raspberry_556.webp 207w,           
	
	            " sizes="(min-width: 1280px) 278px,  
	                    (min-width: 599px) 207px, 100vw"
			src="/img/mw-thank-you/raspberry_207.webp" alt="Raspberries" width="278"
			height="239">
		<div class="mw-thank-you-message">
			<h3 class="mw-thank-you-ttl">THANK YOU</h3>
			<p class="mw-thank-you-text">
				Thank you for your order! Our team is preparing your box with fresh,
				delicious fruits and vegetables, and we'll deliver it straight to your
				doorstep. We appreciate your business and look forward to providing
				you with the best possible experience!
			</p>
		</div>
	</div>
</div>