<div class="mw-your-order modal" data-modal="1">
	<div class="heder">
		<h2 class="title">Your Order</h2>
		<button class="modal__cross js-modal-close" type="button">
			<svg class="modal-icon" width="24" height="24">
				<use href="/img/icon.svg#close"></use>
			</svg>
		</button>
	</div>
	<ul class="cards">
		<li class="first-card-list list">
			<label class="lable-card" for="Strawberry_card"></label>
			<input class="list-card strawberry-card" type="checkbox"
				name="Strawberry_card" id="Strawberry_card" />
			<div class="first-card">
				<h3 class="card-title">Strawberry Basket</h3>
				<p class="card-text">Plant</p>
				<picture>
					<source media="(min-width: 1280px)" srcset="
              /img/Img-mw-your-order/desktop/strawberry_desk@1x.webp 1x,
              /img/Img-mw-your-order/desktop/strawberry_desk@2x.webp 2x
            " type="image/webp" />
					<source media="(min-width: 1280px)" srcset="
              /img/Img-mw-your-order/desktop/strawberry_desk@1x.png 1x,
              /img/Img-mw-your-order/desktop/strawberry_desk@2x.png 2x
            " type="image/png" />
					<source media="(min-width: 768px)" srcset="
              /img/Img-mw-your-order/tablet/strawberry_tab@1x.webp 1x,
              /img/Img-mw-your-order/tablet/strawberry_tab@2x.webp 2x
            " type="image/webp" />
					<source media="(min-width: 768px)" srcset="
              /img/Img-mw-your-order/tablet/strawberry_tab@1x.png 1x,
              /img/Img-mw-your-order/tablet/strawberry_tab@2x.png 2x
            " type="image/png" />
					<source media="(max-width: 767px)" srcset="
              /img/Img-mw-your-order/mobile/strawberry_mob@1x.webp 1x,
              /img/Img-mw-your-order/mobile/strawberry_mob@2x.webp 2x
            " type="image/webp" />
					<source media="(max-width: 767px)" srcset="
              /img/Img-mw-your-order/mobile/strawberry_mob@1x.png 1x,
              /img/Img-mw-your-order/mobile/strawberry_mob@2x.png 2x
            " type="image/png" />
					<img class="image-card strawberry-img"
						src="/img/Img-mw-your-order/desktop/strawberry_desk@1x.png"
						alt="strawberry" width="173" height="196" loading="lazy" />
				</picture>
			</div>
		</li>
		<li class="second-card-list list">
			<label class="lable-card" for="Apple_card"></label>
			<input class="list-card apple-card" type="checkbox" name="Apple_card"
				id="Apple_card" />
			<div class="second-card">
				<h3 class="card-title">Apple Basket</h3>
				<p class="card-text">Plant</p>
				<picture>
					<source media="(min-width: 1280px)" srcset="
              /img/Img-mw-your-order/desktop/apple_desk@1x.webp 1x,
              /img/Img-mw-your-order/desktop/apple_desk@2x.webp 2x
            " type="image/webp" />
					<source media="(min-width: 1280px)" srcset="
              /img/Img-mw-your-order/desktop/apple_desk@1x.png 1x,
              /img/Img-mw-your-order/desktop/apple_desk@2x.png 2x
            " type="image/png" />
					<source media="(min-width: 768px)" srcset="
              /img/Img-mw-your-order/tablet/apple_tab@1x.webp 1x,
              /img/Img-mw-your-order/tablet/apple_tab@2x.webp 2x
            " type="image/webp" />
					<source media="(min-width: 768px)" srcset="
              /img/Img-mw-your-order/tablet/apple_tab@1x.png 1x,
              /img/Img-mw-your-order/tablet/apple_tab@2x.png 2x
            " type="image/png" />
					<source media="(max-width: 767px)" srcset="
              /img/Img-mw-your-order/mobile/apple_mob@1x.webp 1x,
              /img/Img-mw-your-order/mobile/apple_mob@2x.webp 2x
            " type="image/webp" />
					<source media="(max-width: 767px)" srcset="
              /img/Img-mw-your-order/mobile/apple_mob@1x.png 1x,
              /img/Img-mw-your-order/mobile/apple_mob@2x.png 2x
            " type="image/png" />
					<img class="image-card apple-img"
						src="/img/Img-mw-your-order/desktop/apple_desk@1x.png" alt="apple"
						width="229" height="196" loading="lazy" />
				</picture>
			</div>
		</li>
		<li class="third-card-list list">
			<label class="lable-card" for="Fruits_cadr"></label>
			<input class="list-card" type="checkbox" name="Fruits_cadr"
				id="Fruits_cadr" />
			<div class="third-card">
				<h3 class="card-title">Fruits Basket</h3>
				<p class="card-text">Plant</p>
				<picture>
					<source media="(min-width: 1280px)" srcset="
              /img/Img-mw-your-order/desktop/fruits_desk@1x.webp 1x,
              /img/Img-mw-your-order/desktop/fruits_desk@2x.webp 2x
            " type="image/webp" />
					<source media="(min-width: 1280px)" srcset="
              /img/Img-mw-your-order/desktop/fruits_desk@1x.png 1x,
              /img/Img-mw-your-order/desktop/fruits_desk@2x.png 2x
            " type="image/png" />
					<source media="(min-width: 768px)" srcset="
              /img/Img-mw-your-order/tablet/fruits_tab@1x.webp 1x,
              /img/Img-mw-your-order/tablet/fruits_tab@2x.webp 2x
            " type="image/webp" />
					<source media="(min-width: 768px)" srcset="
              /img/Img-mw-your-order/tablet/fruits_tab@1x.png 1x,
              /img/Img-mw-your-order/tablet/fruits_tab@2x.png 2x
            " type="image/png" />
					<source media="(max-width: 767px)" srcset="
              /img/Img-mw-your-order/mobile/fruits_mob@1x.webp 1x,
              /img/Img-mw-your-order/mobile/fruits_mob@2x.webp 2x
            " type="image/webp" />
					<source media="(max-width: 767px)" srcset="
              /img/Img-mw-your-order/mobile/fruits_mob@1x.png 1x,
              /img/Img-mw-your-order/mobile/fruits_mob@2x.png 2x
            " type="image/png" />
					<img class="image-card fruits-img"
						src="/img/Img-mw-your-order/desktop/fruits_desk@1x.png" alt="fruits"
						width="229" height="196" loading="lazy" />
				</picture>
			</div>
		</li>
	</ul>
	<div class="footer-window">
		<form class="modal-form" name="modal_form" autocomplete="off">
			<input class="modal-form-input" type="name" name="user_name"
				placeholder="Enter full name..." required minlength="5" />
			<input class="modal-form-input" type="email" name="user_email"
				placeholder="Enter email..." required />
			<input class="modal-form-input" type="card" name="user_card"
				placeholder="Enter card.." required pattern="/d*" maxlength="19" />
			<textarea class="modal-form-comments" name="user-comments"
				id="user-comments" rows="10" placeholder="Enter comments..."></textarea>
			<button class="form-btn" type="submit">Submit</button>
		</form>
	</div>
</div>